<div id="chatbot-icon" class="chatbot-icon">
  <i class="fa-regular fa-comment"></i>
</div>

<div id="chatbot-container" class="chatbot-container">
  <div id="chat-log" class="chat-log">
    <!-- Здесь будут сообщения -->
  </div>
  <div id="input-area" class="input-area">
    <div id="button-container" class="button-container">
      <!-- Здесь будут кнопки -->
    </div>
  </div>
</div>