<footer class="footer mt-auto py-3">
    <div class="container text-center pt-4 pb-4">
        <div class="row help-section">
            <div class="col-md-4 mb-3">
              <img src="/images/vector-phone.svg" class="img-fluid mb-2" id="contact">
              <p class="footer-heading">Контакты</p>
              <a href="tel:89517384624">8(951)738-46-24</a><br><a href="mailto:law@law.com">law@law.com</a>
            </div>
            <div class="col-md-4 mb-3">
              <img src="/images/vector-map.svg" class="img-fluid mb-2">
              <p class="footer-heading">Адрес</p>
              <p>г. Челябинск, ул. Труда, д. 156 «В»</p>
            </div>
            <div class="col-md-4 mb-3">
              <img src="/images/vector-watches.svg" class="img-fluid mb-2" style="max-height: 70px; max-width: 55px;">
              <p class="footer-heading">График</p>
                <p>ПН-ПТ: 10:00 до 18:00<br>СБ-ВС: Выходные</p>
            </div>
        </div>
        <div class="row">
          <div class="col">
              <p>© Перспектива 2025. Все права защищены.</p>
          </div>
          <div class="col">
            <a href="https://vk.com/advokat89080589683" class="social-icon vk"></a>
            <a href="https://web.telegram.org/" class="social-icon telegram"></a>
            <a href="https://www.whatsapp.com/?lang=ru_RU" class="social-icon whatsapp"></a>
          </div>
        </div>  
    </div>
</footer>