<section class="admin-panel">
    <div class=" py-5">
        <div class="admin-panel-container">
            <h1 class="admin-panel-title">Панель администратора</h1>

            <div class="admin-panel-buttons">
            <a href="/admin/content" class="admin-panel-btn">Управление контентом</a>
            <a href="/admin/moderating-bookings" class="admin-panel-btn">Модерирование записей на конультацию</a>
            <a href="/admin/moder-schedule" class="admin-panel-btn">Управление расписанием консультаций</a>
            <a href="/admin/logout" class="admin-panel-btn">Выход</a>
            </div>
        </div>
  </div>
</section>
