<section class="admin-panel">
    <div class="py-5">
        <div class="admin-panel-container">
            <div class="admin-content-section">
                <h2 class="admin-panel-title">Управление контентом</h2>
                <div class="admin-content-grid">
                    <a href="/admin/admin-reviews" class="admin-content-btn reviews-btn">Отзывы</a>
                    <a href="/admin/admin-services" class="admin-content-btn services-btn">Услуги</a>
                    <a href="/admin/admin-lawyers" class="admin-content-btn lawyers-btn">Сотрудники</a>
                    <a href="/admin/admin-news" class="admin-content-btn news-btn">Новости</a>
                    <a href="/admin/admin-panel" class="admin-content-btn back">Вернуться</a>
                </div>
            </div>
        </div>
    </div>
</section>
